{% extends 'layout.html' %}

{% load static %}
{% load filters %}

{% block title %} {{ title }} {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/show_article.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown_views.css' %}">
    {# <link rel="stylesheet" href="{% static 'css/htmledit_views.css' %}">#}
{% endblock %}


{% block main %}
    <div class="all">
        <!--left start-->
        <div class="left" id="left">

            {# 影藏内容，用于百度检索，会在页面加载后删除 #}
{#            <div id="baidu-search" style="display: none;">{{ ar_content|safe }}</div>#}
{#            <div id="baidu-search">{{ ar_content|safe }}</div>#}

            {# 文档详细信息 #}
            <div class="article-detailed-info" id="article-detailed-info"></div>
            {# 面包屑导航 #}
            <div class="left-top" id="left-top" style="display: none">
                <i class="fa fa-clock-o left-top-icon"></i>
                <ol class="breadcrumb" id="home-nav"></ol>
                {# 文档排序方式 #}
                <ul type="none" class="article-sort">
                    <li class="sort-method" id="visit" sort-method="visit">阅读量</li>
                    <li class="sort-method" id="release_date" sort-method="release_date" style="color: black">发布日期（默）
                    </li>
                    <li>排序：</li>
                </ul>
            </div>
            {# 文档列表 #}
            <div class="article-list" id="article-list"></div>
            {# 分页按钮 #}
            <div class="pageing" id="pageing"></div>
        </div>
        <!--left over-->

        <!--right start-->
        <div class="right" id="right">
            <div class="user-info">
                <div class="user-main-info">
                    <a class="btn btn-default user-info-button" id="user-info-button"></a>
                    <img class="user-avatar" id="user-avatar" src="">
                    <span class="user-nickname" id="user-nickname"></span>
                </div>
                <hr class="hr-">
                <div class="user-other-info">
                    <ul type="none">
                        <li>文档</li>
                        <li id="article-count"></li>
                    </ul>
                    <ul type="none">
                        <li>粉丝</li>
                        <li id="bean-count"></li>
                    </ul>
                    <ul type="none">
                        <li>评论</li>
                        <li id="comment-count"></li>
                    </ul>
                    <ul type="none">
                        <li>点赞</li>
                        <li id="praise-count"></li>
                    </ul>
                    <ul type="none">
                        <li>访客</li>
                        <li id="visitor-count"></li>
                    </ul>
                </div>
            </div>
            <div class="article-classify" id="article-classify">
                <div class="classify-title">个人分类</div>
                <ul type="none" class="classify-list" id="classify-list">
                </ul>
            </div>
            {# 评论区 #}
            <div class="comment-section">
                <div class="comment-title">
                    <span>评论区</span>
                    <span class="btn btn-default btn-xs" id="comment-btn">写评论</span>
                </div>
                <div class="comment-div" id="comment-div">
                    <textarea class="form-control comment-box" id="comment-box" rows="6" placeholder=""></textarea>
                    <div>
                        <buttom class="btn btn-default btn-xs pack-up-box" id="pack-up-box">↑ 收起 ↑</buttom>
                        <span class="btn btn-default btn-xs comment-msg" id="comment-msg"></span>
                        <buttom class="btn btn-default btn-xs submit-comment-btn" id="submit-comment-btn">提 交</buttom>
                    </div>
                    {# 可通过更改rows的值来改变评论框大小 #}
                </div>
                {# 所有评论 #}
                <div class="comment-list" id="comment-list"></div>
            </div>
        </div>
        <!--right over-->
    </div>
    {% csrf_token %}
{% endblock %}


{% block js %}
    <script src="{% static '/js/md5.js' %}"></script>
    <script>
        {# 默认排序方式 #}
        var sortMethodS = 'release_date';

        {# 分类id #}
        var classifyIdS = null;

        {# 文档id #}
        var articleId;

        {# 关注/管理按钮 #}
        var $UserInfoButtonTag = $('#user-info-button');

        {# 标识当前页面是否为 show_article.html 页面，进行模糊查询时会用到 #}
        showArticlePage = true;


        {# 显示右侧页面信息 #}
        function displayRightPage() {
            let $displayUserInfoArrows = $('#display-right-page-arrows');
            {# 显示右侧页面 #}
            $('#left').css('width', '70%');
            $('#right').css('display', 'block');
            {# 将其替换成隐藏按钮 #}
            $displayUserInfoArrows.attr('class', 'fa fa-arrow-right');
            $displayUserInfoArrows.attr('onClick', 'concealRightPage()');
        }


        {# 隐藏右侧页面信息 #}
        function concealRightPage() {
            let $displayUserInfoArrows = $('#display-right-page-arrows');
            {# 隐藏右侧页面 #}
            $('#left').css('width', '100%');
            $('#right').css('display', 'none');
            {# 将其替换成显示按钮 #}
            $displayUserInfoArrows.attr('class', 'fa fa-arrow-left');
            $displayUserInfoArrows.attr('onClick', 'displayRightPage()');
        }


        {# 渲染左侧页面之文档内容 #}
        var renderLeftArticleInfo = function (data) {
            let articleInfo = data.data;
            let self_ = data.self;
            let aR = data.access_restriction;
            let $articleDetailedInfoTopTag = $('#article-detailed-info');
            {# 标题相关 #}
            let $articleType = $('<span>', {
                class: 'article-type',
                text: articleInfo['type'],
            });
            let $like = $('<span>', {
                class: 'fa fa-thumbs-o-up article-like',
                id: 'article-like',
                onClick: `articleLike(${articleInfo.id})`,
            });
            let $articleTitle = $('<div>', {
                class: 'article-title',
                text: articleInfo.title,
                append: [$articleType, $like],
            });

            {# 其它信息 #}
            let $articleReleaseDateSpan = $('<span>', {
                {# 发布日期 #}
                text: '发布日期：' + articleInfo['release_date'],
            });
            let $CommentNumberSpan = $('<span>', {
                {# 评论量 #}
                text: '评：' + articleInfo['comment_number'],
            });
            let $articlePraiseSpan = $('<span>', {
                {# 点赞量 #}
                text: '赞：' + articleInfo['praise'],
                id: 'praise',
            });
            let $articleVisitSpan = $('<span>', {
                {# 阅读量 #}
                text: '阅：' + articleInfo['visit'],
            });
            let $displayUserInfoSpan = $('<span>', {
                {# 显示右侧页面按钮 #}
                class: 'fa fa-arrow-left',
                id: 'display-right-page-arrows',
                onClick: 'displayRightPage()',
            });
            {# 访问者为本人 且 无密码，才显示编辑按钮 #}
            if (self_ && !aR) {
                var $articleEditArticleI = $('<a>', {
                    class: 'fa fa-pencil-square-o',
                    href: '{% url 'strive:strive' %}' + articleInfo['id'],
                });
            }
            if (data.access_restriction) {  {# 如果有访问密码 #}
                var $restrictAccessSpan = $('<span>', {
                    class: "fa fa-lock restrict",
                });
            }
            let $articleOtherInfoDiv = $('<div>', {
                class: 'bottom',
                id: 'articleOtherInfo',
                append: [$articleReleaseDateSpan, $CommentNumberSpan, $articlePraiseSpan, $articleVisitSpan, $articleEditArticleI, $displayUserInfoSpan, $restrictAccessSpan]
            });

            {# 完美组合 #}
            let $articleInfoDiv = $('<div>', {
                class: 'article-info__',
                append: [$articleTitle, $articleOtherInfoDiv],
            });

            {# 文档内容 #}
            if (!aR) {
                var $articleContent = $('<div>', {
                    class: 'markdown_views prism-atom-one-light article-detailed-info-content',
                    id: 'article-detailed-info-content',
                    self: self_, {# 有密码时获取文档后会用到 #}
                    html: articleInfo.content,
                });
            } else {  {# 如果有访问密码 #}
                let $label = $('<label>', {
                    class: 'sr-only',
                    for: 'article-pwd',
                });
                let $leftDiv = $('<div>', {
                    class: 'input-group-addon',
                    text: '该文已设置阅读密码',
                });
                let $input = $('<input>', {
                    type: 'password',
                    class: 'form-control',
                    id: 'article-pwd',
                });
                let $rightDiv = $('<div>', {
                    class: 'input-group-addon',
                    text: '提交',
                    id: 'submitArticlePwd',
                    onClick: `submitArticlePwd(${articleInfo.id})`, {# 提交文档密码的函数 #}
                });
                let inputDiv = $('<div>', {
                    color: 'input-group',
                    append: [$leftDiv, $input, $rightDiv]
                });
                var $articleContent = $('<div>', {
                    class: 'markdown_views prism-atom-one-light article-detailed-info-content',
                    id: 'article-detailed-info-content',
                    self: self_,
                    append: [$label, inputDiv]
                });
            }

            {# 添加到HTML #}
            $articleDetailedInfoTopTag.append($articleInfoDiv, $articleContent)
        };


        {# 提交文档密码，获取文档内容 #}
        function submitArticlePwd(article_id) {
            let pwd = hex_md5($('#article-pwd').val());
            $.ajax({
                url: "{% url 'home:get_article_content' %}",
                type: 'POST',
                data: {
                    article_id: article_id,
                    pwd: pwd,
                },
                success: function (data) {
                    if (data.state) {
                        {# 展示文档内容 #}
                        $articleContentTag = $('#article-detailed-info-content');
                        $articleContentTag.html(data.data);
                        {# 展示编辑按钮 #}
                        if ($articleContentTag.attr('self') === 'true') {
                            let $articleEditArticleI = $('<a>', {
                                class: 'fa fa-pencil-square-o',
                                href: '{% url 'strive:strive' %}' + article_id,
                            });
                            $('#articleOtherInfo').append($articleEditArticleI);
                        }
                    } else {
                        confirm('密码错误，请重试！')
                    }
                }
            })
        }

        {# 回车键触发提交文档密码 #}
        $(window).on('keydown', function (event) {
            if (event.keyCode === 13) {
                $('#submitArticlePwd').trigger('click')
            }
        });


        {# 渲染左侧页面之文档列表 #}
        var renderLeftPage = function (data, self_) {
            let $leftTag = $('#article-list');

            {# 在渲染之前，先清空左侧页面 #}
            $leftTag.text('');
            $('#article-detailed-info').text('');


            {# 生成文档列表 #}
            for (let i = 0; i < data.length; i++) {
                {# 标题相关 #}
                let $restrictAccess = data[i]['restrict_access'];
                let $titleLinkA = $('<a>', {
                    href: '/{{ blog_path }}/' + data[i]['id'] + '?from=self',
                    target: '_blank',
                    text: data[i]['title'], {# decodeURI：URL解码 #}
                });
                let $titleArticleTypeSpan = $('<span>', {
                    class: 'article-type',
                    text: data[i]['type'],
                });
                let $articleTitleDiv = $('<div>', {
                    class: 'article-title',
                    append: [$titleLinkA, $titleArticleTypeSpan],
                });

                {# 如果有访问密码 #}
                if ($restrictAccess) {
                    let $restrictAccessSpan = $('<span>', {
                        class: "fa fa-lock restrict",
                    });
                    $articleTitleDiv.append($restrictAccessSpan);
                }

                {# 文档描述相关 #}
                if ($restrictAccess) {
                    $articleDescription = '密';
                } else {
                    $articleDescription = data[i]['description'];
                }
                let $articleDescriptionP = $('<p>', {
                    text: $articleDescription,
                });
                let $articleDescriptionDiv = $('<div>', {
                    class: 'article-description',
                    append: $articleDescriptionP,
                });

                {# 文档其它信息 #}
                let $articleReleaseDateSpan = $('<span>', {
                    {# 发布日期 #}
                    text: '发布日期：' + data[i]['release_date'],
                });
                let $CommentNumberSpan = $('<span>', {
                    text: '评：' + data[i]['comment_number'], {# 评论量 #}
                });
                let $articlePraiseSpan = $('<span>', {
                    {# 点赞量 #}
                    text: '赞：' + data[i]['praise'],
                });
                let $articleVisitSpan = $('<span>', {
                    {# 阅读量 #}
                    text: '阅：' + data[i]['visit'],
                });
                if (self_) {  {# 判断访问者是否为本人 #}
                    var $editArticleI = $('<a>', {
                        class: 'fa fa-pencil-square-o',
                        href: '{% url 'strive:strive' %}' + data[i]['id'],
                        target: '_blank'
                    });
                }
                let $articleOtherInfoDiv = $('<div>', {
                    class: 'bottom',
                    append: [$articleReleaseDateSpan, $CommentNumberSpan, $articlePraiseSpan, $articleVisitSpan, $editArticleI]
                });

                {# 完美组合 #}
                let $articleInfoDiv = $('<div>', {
                    class: 'article-info',
                    append: [$articleTitleDiv, $articleDescriptionDiv, $articleOtherInfoDiv] {# 在此标签内添加上面新建的标签，添加多个子标签用元组 #}
                });

                {# 添加到HTML #}
                $leftTag.append($articleInfoDiv);
            }
        };


        {# 渲染左侧页面之分页按钮 #}
        var renderPagination = function (data) {
            let $Pageing = $('#pageing');
            let prefiousUrl = data.previous_url;
            let nextUrl = data.next_url;
            let pageLinks = data.page_links;

            {# 先清空分页按钮 #}
            $Pageing.text('');

            {# 如果没有或只有一页数据就不生成分页按钮则 #}
            if (!pageLinks || pageLinks.length <= 1) {
                return
            }

            {# 准备ul列表 #}
            let $prefiousUl = $('<ul>', {
                class: 'pagination',
                id: 'pagination',
            });

            {# 上一页 #}
            let $prefiousA = $('<a>', {
                text: '«',
                url: prefiousUrl,
                class: 'page',
            });
            let $prefiousLi = $('<li>', {
                append: $prefiousA,
            });
            {# 如果没有上一页 #}
            if (!prefiousUrl) {
                $prefiousLi.attr('class', 'disabled');
                $prefiousA.attr('at-page', 'yes');
            }
            $prefiousUl.append($prefiousLi);

            {# 所有页码 #}
            for (let i = 0; i < pageLinks.length; i++) {
                let $pageA = $('<a>', {
                    url: pageLinks[i][0],
                    text: pageLinks[i][1],
                    class: 'page',
                });
                let $pageLi = $('<li>', {
                    append: $pageA,
                });
                {# 如果是当前页面 #}
                if (pageLinks[i][2]) {
                    $pageLi.attr('class', 'disabled');
                    $pageA.attr('at-page', 'yes');
                }
                $prefiousUl.append($pageLi);
            }

            {# 下一页 #}
            let $nextA = $('<a>', {
                text: '»',
                url: nextUrl,
                class: 'page',
            });
            let $nextLI = $('<li>', {
                append: $nextA
            });
            {# 如果没有下一页 #}
            if (!nextUrl) {
                $nextLI.attr('class', 'disabled');
                $nextA.attr('at-page', 'yes');
            }
            $prefiousUl.append($nextLI);

            {# 将组合好的分页按钮添加到HTML #}
            $Pageing.append($prefiousUl);
        };


        {# 渲染右侧页面之用户信息 #}
        var renderRightPageUserInfo = function (data, self_) {
            let $userAvatar = $('#user-avatar');


            {# 管理 or 关注 #}
            if (self_) {
                $UserInfoButtonTag.text('管理');
                $UserInfoButtonTag.attr('href', '{% url "edit:edit" %}');
                $UserInfoButtonTag.attr('key', 0);
                {# 0：标记为管理按钮 #}
            } else {
                if (data['is_attention']) {
                    $UserInfoButtonTag.text('已关注');
                } else {
                    $UserInfoButtonTag.text('关注');
                }
                $UserInfoButtonTag.attr('key', 1);
                {# 1：标记为关注按钮 #}
            }

            $('#user-nickname').text(data['nickname']);
            $userAvatar.attr('src', data['avatar']);
            $userAvatar.css('display', 'block');
            {# 显示头像 #}
            $('#article-count').text(data['article_count']);
            $('#bean-count').text(data['bean_count']);
            $('#comment-count').text(data['comment_count']);
            $('#praise-count').text(data['praise_count']);
            $('#visitor-count').text(data['visit_count']);
        };


        {# 渲染右侧页面之个人分类 #}
        var renderRightPagePerClass = function (data, self_) {

            {# 如果没有分类 #}
            if (data.length === 0) {
                $('#article-classify').text('');
            }

            {# 开始渲染分类 #}
            for (let i = 0; i < data.length; i++) {
                let $classifyNameSpan = $('<span>', {
                    {# 分类名称span #}
                    text: data[i]['name'],
                    classifyid: data[i]['id'],
                    classifyname: data[i]['name'],
                });
                let $classifyArticleCountSpan = $('<span>', {
                    {# 文档数量span #}
                    text: String(data[i]['article_count']) + '篇',
                    class: 'classify-article-number',
                    classifyid: data[i]['id'],
                    classifyname: data[i]['name'],
                });
                let $classifyListLi = $('<li>', {
                    {# 分类列表li #}
                    class: 'classify-each',
                    {# 伪属性 #}
                    classifyid: data[i]['id'],
                    classifyname: data[i]['name'],
                    append: [$classifyNameSpan, $classifyArticleCountSpan],
                });
                {# 如果是最后一个分类，则添加一个id #}
                if (i + 1 === data.length) {
                    $classifyListLi.attr('id', 'classify-last')
                }
                $('#classify-list').append($classifyListLi);
                {# 添加到现有标签 #}
            }
        };


        {# 渲染右侧页面之文档评论 #}
        var renderRightComment = function (data, article_id) {
            let $comListTag = $('#comment-list');
            if (data) {
                let allLabel = '';
                for (let i = 0; i < data.length; i++) {
                    if (data[i].reply_user) {  {# 回复 #}
                        var everyLabel = `
                                <div class="comment-every">
                                    <div class="the-com-user" id="the-com-user">  {# 回复/评论用户 #}
                                        <a href=${data[i].reply_user_path} target="_blank">
                                            <img src=${data[i].reply_user_av} class="reply-user-av">
                                            <span class="reply-user">${data[i].reply_user}</span>
                                        </a>
                                        <span>&nbsp;回复&nbsp;</span>
                                        <a href="${data[i].com_user_path}" target="_blank">
                                            <img src=${data[i].com_user_av} class="com-user-av">
                                            <span class="com-user">${data[i].com_user}</span>
                                        </a>
                                    </div>
                                    <div class="comment-content">${data[i].content}</div>
                                    <div  id="comment-bottom">
                                        <span class="comment-date">${data[i].com_date}</span>
                                        <span class="btn btn-default btn-xs reply-btn" onClick="replyInc(${data[i].id}, ${article_id}, '${data[i].reply_user}')">回复</span>
                                    </div>
                                </div>
                                `;
                    } else {  {# 评论 #}
                        var everyLabel = `
                                <div class="comment-every">
                                    <div class="the-com-user" id="the-com-user">  {# 回复/评论用户 #}
                                        <a href="${data[i].com_user_path}" target="_blank">
                                            <img src=${data[i].com_user_av} class="com-user-av">
                                            <span class="com-user">${data[i].com_user}</span>
                                        </a>
                                        <span>&nbsp;评论文档</span>
                                    </div>
                                    <div class="comment-content">${data[i].content}</div>
                                    <div id="comment-bottom">
                                        <span class="comment-date">${data[i].com_date}</span>
                                        <span class="btn btn-default btn-xs reply-btn" onClick="replyInc(${data[i].id}, ${article_id}, '${data[i].com_user}')">回复</span>
                                    </div>
                                </div>
                                `;
                    }
                    allLabel += everyLabel;

                    {# 添加到HTML #}
                    $('#comment-list').html(allLabel);
                }
            }
        };


        {# 点赞 #}
        function articleLike(article_id) {
            $.ajax({
                url: "{% url 'home:praise' %}",
                type: 'POST',
                data: {
                    article_id: article_id,
                },
                success: function (data) {
                    if (data) {
                        let $praiseCountTag = $('#praise-count');
                        let $articleLike = $('#article-like');
                        $articleLike.attr('class', 'fa fa-thumbs-up article-like');
                        {# 点赞后，删除其onClick事件 #}
                        $articleLike.attr('onClick', '');
                        {# 将用户信息下的点赞量加1 #}
                        $praiseCountTag.text(Number($praiseCountTag.text()) + 1);
                        {# 将文档信息下的点赞量加1 #}
                        let $praiseTag = $('#praise');
                        $praiseTag.text(`赞：${Number($praiseTag.text().split('：')[1]) + 1}`)
                    }
                }
            })
        }


        {# 点击写评论后显示评论框 #}
        $('#comment-btn').click(function () {
            let $commentDivTag = $('#comment-div');
            let $commentBoxTag = $('#comment-box');
            let $submitCommentBtnTag = $('#submit-comment-btn');
            let $commentMsg = $('#comment-msg');
            $commentDivTag.css('display', 'block');
            {# 使评论框变大，并清空评论框 #}
            $commentBoxTag.attr('rows', 6);
            $commentMsg.text('');
            {# 将所需要的值存入提交按钮 #}
            $submitCommentBtnTag.attr({'com_id': null, 'article_id': articleId});
        });


        {# 点击回复后显示评论框 #}

        function replyInc(com_id, article_id, user_name = null) {
            let $commentDivTag = $('#comment-div');
            let $commentBoxTag = $('#comment-box');
            let $submitCommentBtnTag = $('#submit-comment-btn');
            let $commentMsg = $('#comment-msg');
            $commentDivTag.css('display', 'block');
            {# 使评论框变大 #}
            $commentBoxTag.attr('rows', 6);
            {# 清空评论框，并将被回复者姓名放入评论框 #}
            $commentMsg.text('');
            $commentMsg.text(`@${user_name}`);
            $commentMsg.css('color', 'green');
            {# 将所需要的值存入提交按钮 #}
            $submitCommentBtnTag.attr({'com_id': com_id, 'article_id': article_id});
        }


        {# 提交评论 #}
        $('#submit-comment-btn').click(function () {
            {% if not request.user.is_authenticated %}  {# 如果用户未登录 #}
                location.href = '{% url "auth:reg_login" %}{{ request|next_url }}';
            {% else %}
                let that = $(this);
                let comId = that.attr('com_id');
                let articleId = that.attr('article_id');
                let comContent = $('#comment-box').val();
                let $commentMsg = $('#comment-msg');
                if (comContent) {  {# 如果输入的值不为空 #}
                    $.ajax({
                        url: "{% url 'home:comment' %}",
                        type: 'POST',
                        data: {
                            com_id: comId,
                            article_id: articleId,
                            com_content: comContent
                        },
                        success: function (data) {
                            if (data) {
                                $commentMsg.text('提交成功');
                                $commentMsg.css('color', 'blue');
                                {# 延迟0.5秒后刷新页面 #}
                                setTimeout(function () {
                                    location.reload()
                                }, 500);
                            } else {
                                $commentMsg.text('提交失败');
                                $commentMsg.css('color', 'red');
                            }
                        }
                    })
                } else {
                    $commentMsg.text('值不可为空');
                    $commentMsg.css('color', 'red');
                }
            {% endif %}
        });


        {# 收起评论框 #}
        $('#pack-up-box').click(function () {
            that = $(this);
            let $commentDivTag = $('#comment-div');
            $commentDivTag.css('display', 'none');
        });


        {# 指定排序方式获取文档 #}
        $('.article-sort').click($('.sort-method'), function (event) {
            let target = $(event.target);
            let sortMethod = target.attr('sort-method');
            if (sortMethod !== undefined) {
                sortMethodS = sortMethod;
                getArticleList();
                {# 替换其样式 #}
                $('.sort-method').css('color', 'gray');
                target.css('color', 'black');
            }
        });


        {# 指定分页获取文档 #}
        $('#pageing').on('click', $('.page'), function (event) {
            let target = $(event.target);
            {# 如果不是当前页，则发起请求 #}
            if (!target.attr('at-page') && !target.attr('id')) {
                pageUrl = target.attr('url');
                getArticleList(pageUrl)
            }
        });


        {# 点击面包屑导航条时获取所有文档，并删除面包屑导航条 #}
        $('#home-nav').on('click', $('#nav-all-article'), function () {
            classifyIdS = null;
            getArticleList();
            {# $(this) 即：$('#home-nav') #}
            $(this).text('');
        });


        {# 指定分类获取文档，并生成面包屑导航条 #}
        $('#classify-list').on('click', $('.classify-each'), function (event) {
            let target = $(event.target);
            let $homeNavTag = $('#home-nav');
            {# 获取伪属性中的值 #}
            let classifyId = target.attr('classifyid');
            {# 删除评论区 #}
            $('.comment-section').text('');
            {# 显示导航条 #}
            $('#left-top').css('display', 'block');
            classifyIdS = classifyId;
            getArticleList();
            $homeNavTag.text('');
            let $allArticleLi = $('<li>', {
                class: 'nav-all-article',
                id: 'nav-all-article',
                text: '全部文档'
            });
            let $classifyNameLi = $('<li>', {
                class: 'active',
                {# 分类名称 #}
                text: target.attr('classifyname'),
            });
            $homeNavTag.append($allArticleLi, $classifyNameLi);
        });


        {# 关注用户的逻辑 #}
        $UserInfoButtonTag.click(function () {
            {# 是关注按钮时才会执行 #}
            if (Number($UserInfoButtonTag.attr('key'))) {
                let $beanCountTag = $("#bean-count");
                $.ajax({
                    url: '{% url "home:do_follow" %}',
                    type: 'POST',
                    data: {
                        to_user: '{{ user_id }}',
                    },
                    success: function (data) {
                        if (data.status) {
                            $UserInfoButtonTag.text(data.msg);
                            if (data.code) {
                                $beanCountTag.text(Number($beanCountTag.text()) + 1);
                            } else {
                                $beanCountTag.text(Number($beanCountTag.text()) - 1);
                            }
                        } else {
                            location.href = '{% url "auth:reg_login" %}{{ request|next_url }}';
                        }
                    }
                })
            }
        });


        {# 获取用户信息 #}
        var getUserInfo = function () {
            $.ajax({
                url: "{% url 'home:get_userinfo' %}",
                type: 'POST',
                data: {
                    user_id: "{{ user_id }}",
                },
                success: function (data) {
                    renderRightPageUserInfo(data['userinfo'], data['self']);
                    renderRightPagePerClass(data['classify_list'], data['self_']);
                }
            })
        };


        {# 获取文档信息 #}
        var getArticleInfo = function () {
            $.ajax({
                url: '{% url 'home:get_article_info' %}',
                type: 'POST',
                data: {
                    user_id: '{{ user_id }}',
                    article_id: '{{ article_id }}',
                    from_page: '{{ from_page }}',
                },
                success: function (data) {
                    renderLeftArticleInfo(data);
                    renderRightComment(data.data.comment, data.data.id);
                    {# 声明文档id，写评论按钮会用到 #}
                    articleId = data.data.id
                }
            })
        };


        {# 获取文档列表 #}
        var getArticleList = function (page_url = "{% url 'home:get_article_list' %}") {
            $.ajax({
                url: page_url,
                type: 'POST',
                data: {
                    user_id: "{{ user_id }}",
                    classify_id: classifyIdS,
                    sort_method: sortMethodS,
                },
                success: function (data) {
                    renderLeftPage(data['article_list'], data['self']);
                    renderPagination(data['html_context']);
                }
            })
        };


        (function () {
            $('#baidu-search').remove();
            if ({{ article_id|default:0 }}) {
                getUserInfo();
                getArticleInfo();
            }
        })(jQuery);

    </script>
{% endblock %}
